<!DOCTYPE html>
<html>

<body>
<% for i in (0..items.size-1) %>
    <li> <%= items[i] %> </li>
<% end %>
<form action="/item-list" method="POST">
<label for="item"> add item:</label> <br>
<input type="text" id="item" name="item"> <br>
<input type="submit" value="Submit">
</form>
</body>
</html>